@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/white-clouds.jpg');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
}
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;	
}
.conditions {
	flex: 1;
	font-size: 1em;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 4.8em;
	font-weight: 300;
	letter-spacing: -12px;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}
.headerbar {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-top: 10px;
	margin-top: -100px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bluebox {
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/blue.jpg');
	text-align: center;
	padding-top: 0px;
	margin-top: -100px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	//background-color:dodgerblue;
	
	
}
.redbox {
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/red.jpg');
	text-align: center;
	padding-top: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	//background-color: orangered;
	
}
.greenbox {
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/green.jpg');
	text-align: center;
	padding-top: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	//background-color: mediumseagreen;
	
}
.greybox {
	display: flex;
	flex-direction: column;
	//background-image: url('../../assets/backgrounds/grey.jpg');
	text-align: center;
	padding-top: 0px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: grey;
	
}