@import '~style/helpers';

.container { 
    display: flex;  // see https://www.w3schools.com/css/css3_flexbox.asp
    flex-direction: column; //stacks elements vertically
    background-color: white;
    width: @width;
    height: @height;
    margin: 0 auto;
	font-family:@font;
}


.headerbar{
    margin: 0;
    width: 100%;
	height: 10%;
	padding: 4%;
	box-shadow: @shadow;
}

.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;	
}

 
// weather box
	.weathericon{
		width:80px;
		display: inline;
		float: left;
		margin: 2%;
		vertical-align: text-top;
		
	}

	.temperature {
		flex: 2;
		margin-top: 0;
		font-size: 4.5em;
		font-weight: 300;
		color: black;
	}

	.conditions {
		flex: 1;
		font-size: 2em;
		color:black;
		text-align: center;

	}

	.humidity {
		margin-top: -10%;
		padding: 0%;
		font-size: 1em;
	}

	.wind {
		font-size: 1em;
	}

	.weathertable{
		background-color: white;
		padding: 1%;
		margin-top:0.5%;
		text-align: center;
		width: 100%;
		
	}

	.weathertable h3{
		text-align: center;
		margin: 0;
		font-size: 27px;
		margin: 2%;
		padding: 10%;
		background-color: none;

	}

	.weathertable p{
		text-align: center;
		font-size: 18px;
		margin-bottom: 0;
	}

	.weathertable td{
		padding: 1%;
		text-align: center;

	}

	.forecasticon{
		width: 40px;
	}
	
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

.innerbox{
    background-color: white;
    padding: 2%;
    flex-direction: row;
}

.innerboxtext{
    display:inline;
    text-align: left;
    font-size: 20px;
}

// colour boxes
	.bluebox{
		background-color: @blue;
		margin: 2%;
		flex-direction: row;
		padding: 3%;
		box-shadow: @shadow;

	}

	.redbox{
		background-color: @red;
		margin: 2%;
		flex-direction: row;
		padding: 3%;
		box-shadow: @shadow;

	}

	.greenbox{
		background-color: @green;
		margin: 2%;
		flex-direction: row;
		padding: 3%;
		box-shadow: @shadow;

	}

	.greybox{
		background-color: @grey;
		margin: 2%;
		flex-direction: row;
		padding: 3%;
		box-shadow: @shadow;
	}

	.orangebox{
		background-color: @orange;
		margin: 2%;
		flex-direction: row;
		padding: 3%;
		box-shadow: @shadow;
	}

	.yellowbox{
		background-color: @yellow;
		margin: 2%;
		flex-direction: row;
		padding: 3%;
		box-shadow: @shadow;
	}


// navbar
	.navbar{
		display: block;
		background-color: white;
		position: fixed;
		bottom: 0;
		width: @width;
		height: 10.5%;
		padding: 0%;
		display: flex;
		justify-content: space-between;
		text-align: center;
		box-shadow: @shadow;
	}

	.navbarimg{
		height: 50px;
		// padding: 2%;
		margin: 2%;
	}

	.navbarelement:hover{
		background-color: @yellow;
	}

	.navbarelement{
		float: left;
		width: 33.3%;
		padding: 1%;
	}

	.navbarelement p{
		color: black;
		text-align: center;
		text-decoration: none;
		position: relative;
		bottom: 23px;
	}


	.bufferbox{
		margin-top: 20%;
		color: white;
	}

// crop table
	.croptable{
		border-collapse: collapse;
		width: 100%;
		font-size: 20px;
	}

	.croptable th,td{
		text-align: left;
		padding: 1%;
	}

	.croptable tr:nth-child(even) {background-color: #f2f2f2;}


h1{
    color: black;
    text-align: center;
	margin: 0;
}
h2{
    color:white;
    text-align: left;
    font-size: 22px;
    display: block;
    padding-bottom: 1%;
    margin: 0;
}

p{
    color: black;
    text-align: left;
}

table{
	margin: auto;
}


